div.z-card {
  border: solid #fff;
  line-height: 1.5;
  background-color: #f8f9fa;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.8em;
  word-break:break-word;
}

div.z-card div.z-card-extra {
  color: #999999;
  font-size: 12px;
  text-align: center;
}

.z-btn {
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
  color: #555;
  background: inherit;
  border: 2px solid #555;
  text-decoration: none;
  border-radius: 2px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  line-height: 2;
}

a:hover {
  text-decoration: solid;
}

.z-btn:hover {
  border-color: #222;
  color: #fff;
  background: #222;
}

.z-btn+.z-btn {
  margin: 0 0 8px 8px;
}

.z-btn-bar {
  display: block;
  width: 22px;
  height: 2px;
  background: #555;
  border-radius: 1px;
}

.z-btn-bar+.z-btn-bar {
  margin-top: 4px;
}

ul.z-ul {
  list-style: none;
  margin: 0px;
}

.widget-tag-cloud ul {
  padding: 0;
  margin: 0;
  margin-right: -10px;
}

.widget-tag-cloud ul li {
  list-style-type: none;
  font-size: 13px;
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 8px;
  padding: 3px 8px;
  border: 1px solid #ddd;
}

.widget-tag-cloud ul li a {
  color: black;
}

.back-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 3px;
  background-color: #343a40;
  opacity: 0.5;
  color: #fff !important;
  line-height: 1;
  z-index: 99;
}

.z-search {
  position: relative;
}

.z-search-form input[type=search] {
  background-color: #f8f9fa;
  outline: 0;
  font-size: 85%;
  padding: 7px 25px 7px 10px;
  width: 250px;
  border: 1px solid #f8f9fa;
  border-radius: 3px;
}

.z-search-form button[type=submit] {
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 10px;
  padding: 0;
}

.fa-search:before {
  content: "\f002";
}